# Discord Bot Configuration
# -----------------------

# Your bot's token from Discord Developer Portal
# To get this:
# 1. Go to https://discord.com/developers/applications
# 2. Select your application
# 3. Go to the Bot section
# 4. Click "Reset Token" or copy existing token
TOKEN=your_bot_token_here

# Your application's Client ID
# To get this:
# 1. Go to https://discord.com/developers/applications
# 2. Select your application
# 3. Copy the Application ID (this is your Client ID)
CLIENT_ID=your_client_id_here

# Note: Never share your token with anyone!
# If your token is compromised, reset it immediately in the Discord Developer Portal.